html{
    height: 100%;
}

body{
    height: 100%;
    background-color: gray;
    margin: 0;
}

#container{
    height: 100%;
    background-color: brown;

}

#mid{
    height: 65%;
    background-color: aqua;
    display: flex;
}

#mid-left{
    height: 100%;
    width: 40%;
background-color: rgb(83, 220, 103);

}

#mid-right{
    height:100% ;
    width: 60%;
    background-color: rgb(82, 39, 128);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}
#top{
    height: 20%;
    background-color: fuchsia;
}

#bottom{
    height: 15%;
    background-color: rgb(251, 255, 0);
}

.txt{
    margin: 10px ;

}

@media (max-width:600px){
    #mid{
    align-items: center;
    flex-direction: column;

    }

    #mid-left{
        height:100%;
    }
    #mid-right{
        height:100%;
    }
}